/* genre.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
}

.logo {
    width: 130px;
    max-height: 130px;
    margin: 5px;
    margin-left: 8px; /* Corrected the property name */
    cursor: pointer;
}

h1 {
    margin: 0;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons img {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

video {
    max-width: 100%;
    height: auto;
}

.genre-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 1em;
    margin-top: 120px;
}

.genre-group {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.genre-group h2 {
    color: white;
    margin-bottom: 5px;
}

.book {
    background-color: black;
    border: 0.5px solid white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.book {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #fff;
    padding: 8px 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    border-radius: 5px;
}

.book button:hover {
    background-color: black;
    color: white;
    border: 2px solid #ff0000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.book p {
    color: white;
}

.book p.price {
    color: red;
}

#viewCartBtn {
    cursor: pointer;
    position: right;
    background: none;
    border: none;
}

#viewCartBtn img {
    width: 50px;
    background: none;
    opacity: 1;
}

.book button {
    margin-top: 10px;
}

.fit-to-page {
    max-width: 100%;
    height: auto;
    display: block;
}

#logo {
    cursor: pointer;
    max-height: 80px; 
    margin: 5px;
}
