body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons img {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    margin-top: 20px;
    background-color: black;
}

.genre-group {
    flex: 1 1 300px;
    margin: 10px;
}

.book {
    background-color: black;
    border: 0.5px solid white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #fff;
    padding: 8px 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    border-radius: 5px;
}

.book button:hover {
    background-color: black;
    color: white;
    border: 2px solid #ff0000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
}

.book p {
    color: white;
}

.book p.price {
    color: red;
}

#viewCartBtn {
    cursor: pointer;
    background: none;
    border: none;
}

#viewCartBtn img {
    width: 50px;
    opacity: 1;
}

#logo {
    cursor: pointer;
    max-height: 50px;
    margin: 5px;
}

/* Smooth animation for book container */
.genre-group {
    transition: transform 0.5s ease-in-out;
}

/* Responsive styling */
@media (max-width: 870px) {
    .genre-group {
        flex: 1 1 100%;
    }
}

@media (max-width: 570px) {
    .genre-group {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}
