/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header img {
    max-width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    margin-top: 20px;
}

/* Updated book styles for better arrangement */
.book {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Transparent button with color change on hover */
.book button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #fff;
    padding: 8px 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    border-radius: 5px;
}

.book button:hover {
    background-color: black;
    color: white;
    border: 2px solid #ff0000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

/* Set the color of Genre and Author names to white */
.book p {
    color: white;
}

/* Set the color of the Price to red */
.book p.price {
    color: red;
}

/* View cart button */
#viewCartBtn {
    cursor: pointer;
    background: none;
    border: none;
}

#viewCartBtn img {
    width: 30px;
    opacity: 1;
}

/* Styles for the search bar */
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

#searchBtn {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 10px;
}

#searchBtn img {
    width: 30px;
}

#searchInput {
    display: none;
    padding: 5px;
}

/* Hide search button when search input is active */
#searchBtn.active {
    display: none;
}

/* Adjust the left position of the search bar as needed */
.search-bar.active {
    position: absolute;
    top: 0;
    left: 50px;
}
