/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray for a minimalistic background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

/* Updated book styles for better arrangement */
.book {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Retro hover effect for buttons */
.book button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px; /* Add border-radius for rounded corners */
}

.book button:hover {
    background-color: #555;
    color: black; /* Change text color to black on hover */
}

.book:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Reset color inversion for specific elements */
body,
.book,
footer {
    filter: invert(0);
}
