/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: black; /* Set background to black */
    color: white; /* Set text color to white */
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
}

header img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

/* Updated book styles for better arrangement */
.book {
    background-color: #333; /* Dark gray for the book background */
    border: 1px solid #555; /* Slightly lighter border color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* White shadow for contrast */
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book p {
    color: red; /* Set the price text color to red */
    margin: 5px 0; /* Add a small margin for spacing */
}

/* Transparent button with color change on hover */
.book button {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    color: white;
    border: 2px solid #fff;
    padding: 8px 30px;
    margin-top: 10px; /* Add top margin to create space between buttons */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    border-radius: 5px;
}

.book button:hover {
    background-color: black; /* Set background to black on hover */
    color: white;
    border: 2px solid #ff0000;
}

footer {
    background-color: #333; /* Dark gray for the footer background */
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
